body {
    background-color: rgb(74, 74, 255);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    box-shadow: 3px 3px 5px black;
    border-radius: 11px;
}

h1 {
    text-align: center;
    color: rgb(56, 56, 255);
    text-shadow: 2px 2px 2px black;
}

iframe {
    text-align: center;
}

div {
    padding-top: 11px;
    text-align: center;
}